.profile {
    width: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
  }
  
  .avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 22px;
  }
  
  .tag {
    letter-spacing: -0.5px;
    font-size: 18px;
    color: #808080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  