.title {
    background-color: #fff;
    text-align: center;
    padding: 30px 50px;
  }
  
  .statList {
    display: flex;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
  }
  