ul {
    list-style: none;
  }
  
  .stats {
    display: flex;
  }
  
  .item {
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    background-color: #f5f5f5;
    border: 1px solid #dcdcdc;
    width: 100px;
    height: 80px;
  }
  
  .label {
    font-size: 14px;
    color: #808080;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .quantity {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 16px;
  }
  